@import "tailwindcss";
/* .header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}

.logo-container > img {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
  padding-right: 40px;
  margin: 20px;
  padding: 20px;
  align-items: center;
  font-size: 24px;
}

body {
}

.search {
  padding: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  border: 1px solid white;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(174, 174, 174);
}
.res-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.res-card {
  max-width: 200px;
  border: 1px solid white;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(174, 174, 174);
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-card > img {
  width: 200px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.loginBtn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

.search {
  display: flex;
  gap: 10px;
}

.filter {
  display: flex;
}

.user-data {
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  margin: 10px;
} */
